button {
    margin-bottom: 4px;
    margin-right: 0.2px;
    height: 60px;
    width: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.calc-pad {
    display: grid;
}

.operator {
    background-color: #ff9502;
    color:white;
}

.operator:hover {
    background-color: #e57c00;
}

.operator:active {
    background-color: #cc6e00;
}

.function-button {
    background-color: #8f8e92;
}

.function-button:hover {
    background-color: #6e6d70;
}

.function-button:active {
    background-color: #5a595b;
}

.digit {
    background-color: #333333;
    color: white;
}

body {
    background-color: black;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.operator,
.function-button,
.digit {
    transition: background-color 0.2s ease;
}

input {
    width: 245px;
    margin-bottom: 4px;
}